::-webkit-scrollbar {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #950101;
}

nav{
    z-index: 1;
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
}

#nav-toggle{
    cursor: pointer;
    div{
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
    }
    div:first-child{
        transform: translateX(-3px);
        transition: 0.2s all ease-in-out;
    }
    div:last-child{
        transform: translateX(3px);
        transition: 0.2s all ease-in-out;
    }
}

#nav-toggle.active{
    z-index: 101;
    div:first-child{
        transform: translateX(0.5px) rotate(45deg) translateY(6.5px);
        background-color: black;
    }
    div:last-child{
        transform: translateX(-0.5px) rotate(-45deg) translateY(-4px);
        background-color: black;
    }   
}

#nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #950101;
    height: 100vh;
    padding: 1rem;
    transform: translateY(100vh);
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    transition: 0.3s all ease-in-out;

    a{
        color: black;
        font-weight: 400;
        font-size: 3.4rem;
        transition: 0.3s all ease-in-out;
    }
    a:hover{
        text-decoration: underline;
    }
}

#nav-list.active{
    z-index: 1;
    transform: translateY(0);
    visibility: visible;
    opacity: 100%;
}

footer{
    background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
    #nav-toggle{
        display: none;
    }
    #nav-list{
        flex-direction: row;
        align-items: center;
        position: static;
        height: fit-content;
        z-index: 100;
        transform: translateY(0);
        visibility: visible;
        opacity: 100%;
        width: 45%;
        background-color: transparent;
        padding: 0;
        justify-content: space-evenly;
        a{
          color: white;  
            font-size: 1.5rem;
        }
        a:hover{
            text-decoration: none;
            color: #950101;
        }
    }
}